{% extends '::base.html.twig' %}

{% block body %}
    <div ng-app="app">
        <div class="container">
            <ng-include src="'{{ asset('bundles/main/nav/nav.html') }}'"></ng-include>
            <div class="row">
                <div class="col-md-8">
                    <ng-include src="'{{ asset('bundles/main/player/player.html') }}'"></ng-include>
                    <ng-include src="'{{ asset('bundles/main/rater/rater.html') }}'"></ng-include>
                    <ng-view class="ng-view-anim"></ng-view>
                </div>
                <div class="col-md-4">
                    <recommend></recommend>
                    <ng-include src="'{{ asset('bundles/main/sidebar/sidebar.html') }}'"></ng-include>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bower_components/jplayer/skin/blue.monday/jplayer.blue.monday.css') }}" rel="stylesheet" />
    <link href="{{ asset('libraries/ng-table-master/ng-table.css') }}" rel="stylesheet" />
    <link href="{{ asset('bower_components/ngprogress/ngProgress.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment == 'dev' %}
        <script src="{{ asset('bower_components/angular/angular.js') }}"></script>
        <script src="{{ asset('bower_components/angular-sanitize/angular-sanitize.js') }}"></script>
        <script src="{{ asset('bower_components/angular-route/angular-route.js') }}"></script>
        <script src="{{ asset('bower_components/angular-cookies/angular-cookies.js') }}"></script>
        <script src="{{ asset('bower_components/angular-animate/angular-animate.js') }}"></script>
    {% else %}
        <script src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
        <script src="{{ asset('bower_components/angular-sanitize/angular-sanitize.min.js') }}"></script>
        <script src="{{ asset('bower_components/angular-route/angular-route.min.js') }}"></script>
        <script src="{{ asset('bower_components/angular-cookies/angular-cookies.min.js') }}"></script>
        <script src="{{ asset('bower_components/angular-animate/angular-animate.min.js') }}"></script>
    {% endif %}

    <script src="{{ asset('bower_components/angularLocalStorage/src/angularLocalStorage.js') }}"></script>
    <script src="{{ asset('libraries/ng-table-master/ng-table.js') }}"></script>
    <script src="{{ asset('bower_components/jplayer/jquery.jplayer/jquery.jplayer.js') }}"></script>
    <script src="{{ asset('bower_components/favico.js/favico.js') }}"></script>
    <script src="{{ asset('bower_components/ngprogress/build/ngProgress.min.js') }}"></script>
    <script src="{{ asset('bower_components/momentjs/min/moment.min.js') }}"></script>

    <script src="{{ asset('bundles/main/app.js') }}"></script>
    <script src="{{ asset('bundles/main/services.js') }}"></script>
    <script src="{{ asset('bundles/main/directives.js') }}"></script>
    <script src="{{ asset('bundles/main/filters.js') }}"></script>
    <script src="{{ asset('bundles/main/ng-play-list.js') }}"></script>

    <script src="{{ asset('bundles/main/main/ranks-model.js') }}"></script>

    <script src="{{ asset('bundles/main/library/library.js') }}"></script>
    <script src="{{ asset('bundles/main/library/albums.js') }}"></script>
    <script src="{{ asset('bundles/main/library/artists.js') }}"></script>

    <script src="{{ asset('bundles/main/nav/nav.js') }}"></script>
    <script src="{{ asset('bundles/main/player/player.js') }}"></script>
    <script src="{{ asset('bundles/main/sidebar/sidebar.js') }}"></script>
    <script src="{{ asset('bundles/main/main/main.js') }}"></script>
    <script src="{{ asset('bundles/main/rater/rater.js') }}"></script>
    <script src="{{ asset('bundles/main/lastfm/lastfm.js') }}"></script>
{% endblock %}
